
# Files
aiofiles
aiohttp>=3.9

# db
aiosqlite
discord.py>=2.6.0

# images
lottie
Pillow

# code management
pre-commit
pydantic-settings

# Date and Time Handling
python-dateutil

# Settings Handling
python-dotenv
